.body {
    margin: 0px;
    padding: 0px;
}

nav {
    margin: 10px;
}
.social{
    width:50px;
    height: 20px;
    border-radius:50%;
}
#self{
    width:220px;
    height: 120px;
    border-radius:50%;
}
#jumbo{
/*    margin-top: 80px;*/
   background-image: url("../image/webImage.jpg");
    background-size: cover;
	color:orange;
	font-weight:bold; 
}

#hr{
    width:200px;
    border: 3px solid chocolate;
}

#nav li a{
	color:#fff;
	font-weight:bold;
	
}
#nav li a:hover{
	color:orange;
	border-bottom:2px solid #ffffff;
}


